{% extends "layout.html" %}
{% block body %}
<h1>Welcome {{ name }}!</h1>
<br>
<h2>Your Employment!</h2>
<br>
{{table}}
<br>
<a href = '/add_information'>click here to add a record</a>
<br>
<br>
<b><a href = '/wishlist'>view and manage your wishlist</a></b>
<br>
<br>
<b><a href = '/add_wishlist'>Add new wishlist</a></b>
<br>
<br>
<b><a href = '/review'>view and manage your wishlist</a></b>
<br>
<b><a href = '/add_review'>Add new review</a></b>
<br>
<br>
<b><a href = '/logout'>click here to log out</a></b>
{% endblock %}
